{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom text-center">Skills</h1>

<div class="row text-white">
    <div class="col-sm-5">
        <h3 class="mt-5 text-center">HTML/CSS</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100%" aria-valuemin="10%">100%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-2">
        <h3 class="mt-5 text-center">Javascript</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100%" aria-valuemin="10%">100%</div>
        </div>
    </div>
</div>
<div class="row text-white">
    <div class="col-sm-5">
        <h3 class="mt-5 text-center">Django</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100%" aria-valuemin="10%">100%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-2">
        <h3 class="mt-5 text-center">Python</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100%" aria-valuemin="10%">100%</div>
        </div>
    </div>
</div>
<div class="row text-white">
    <div class="col-sm-5">
        <h3 class="mt-5 text-center">DRF</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100%" aria-valuemin="10%">100%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-2">
        <h3 class="mt-5 text-center">Scrapy</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100%" aria-valuemin="10%">100%</div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
