{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom text-center">Contact</h1>
</div>

<div class="row text-white mb-5">
    <p class="mx-auto mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo eligendi pariatur</p>
    <div class="col-sm-9 mb-5">
        <form action="">
            <div class="form-rom">
                <div class="form-group col-md-6">
                    <label for="inputname">Your Name</label>
                    <input type="text" class="form-control" name="" id="inputname">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputemail">Your Email</label>
                    <input type="email" class="form-control" name="" id="inputname" required/>
                </div>
                <div class="form-group ">
                    <label for="inputsubject">Your subject</label>
                    <input type="text" class="form-control" name="" id="inputname">
                </div>
            <div class="mb-3">
                <label for="inputTextarea">Your message *</label>
                <textarea class="form-control" name="" id="inputTextarea" cols="30" rows="10" required></textarea>
            </div>
            <button class="btn btn-primary" type="submit">send</button>

            </div>
        </form>
    </div>
    <div class="col-sm-3">
       <div> <h3>raj</h3></div>
       <div> <h3>raj</h3></div>
       <div> <h3>raj</h3></div>
    </div>
</div>
<div class="row text-white mb-5">
    <h3>raj</h3>
</div>
{% endblock content %}